{
  "extends": "../.eslintrc",
  "rules": {
    "import/no-extraneous-dependencies": 0,
    "no-shadow": 1
  },
  "globals": {
    "expect": true,
    "sinon": true,
    "nap": true,
  },
  "env": {
    "mocha": true
  }
}
