# See https://help.github.com/ignore-files/ for more about ignoring files.

# expo
.expo/*

# dependencies
node_modules/**/*
ios/Pods/**/*

# misc
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.*
yarn-debug.log*
yarn-error.log*

# Xcode
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
ios/lightning/Lndmobile.framework
ios/lightning/Supporting/EXShell.json
ios/lightning/Supporting/EXShell.plist.bak
android/app/src/main/assets/shell-app.bundle
android/app/src/main/assets/shell-app-manifest.json

# Android/IJ
.idea
.gradle
local.properties
