# See https://help.github.com/ignore-files/ for more about ignoring files.

# expo
.expo/*

# dependencies
node_modules/**/*
ios/Pods/**/*

# misc
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.*
yarn-debug.log*
yarn-error.log*
