/* activate font smoothing */

body {
  -webkit-font-smoothing: antialiased;
}

/* remove blue border around focused elements */

*:focus {
  outline: none;
}

/* Open Sans */

@font-face {
  font-family: 'OpenSans Light';
  src: url('../asset/font/OpenSans-Light.ttf') format('truetype');
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: 'OpenSans Regular';
  src: url('../asset/font/OpenSans-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'OpenSans SemiBold';
  src: url('../asset/font/OpenSans-SemiBold.ttf') format('truetype');
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: 'OpenSans Bold';
  src: url('../asset/font/OpenSans-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: 'OpenSans ExtraBold';
  src: url('../asset/font/OpenSans-ExtraBold.ttf') format('truetype');
  font-style: normal;
  font-weight: 800;
}

/* Poppins */

@font-face {
  font-family: 'Poppins Thin';
  src: url('../asset/font/Poppins-Thin.ttf') format('truetype');
  font-style: normal;
  font-weight: 100;
}
@font-face {
  font-family: 'Poppins ExtraLight';
  src: url('../asset/font/Poppins-ExtraLight.ttf') format('truetype');
  font-style: normal;
  font-weight: 200;
}
@font-face {
  font-family: 'Poppins Light';
  src: url('../asset/font/Poppins-Light.ttf') format('truetype');
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: 'Poppins Regular';
  src: url('../asset/font/Poppins-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Poppins Medium';
  src: url('../asset/font/Poppins-Medium.ttf') format('truetype');
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: 'Poppins SemiBold';
  src: url('../asset/font/Poppins-SemiBold.ttf') format('truetype');
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: 'Poppins Bold';
  src: url('../asset/font/Poppins-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: 'Poppins ExtraBold';
  src: url('../asset/font/Poppins-ExtraBold.ttf') format('truetype');
  font-style: normal;
  font-weight: 800;
}
@font-face {
  font-family: 'Poppins Black';
  src: url('../asset/font/Poppins-Black.ttf') format('truetype');
  font-style: normal;
  font-weight: 900;
}

/* SF Pro Display */

@font-face {
  font-family: 'SF Pro Display Regular';
  src: url('../asset/font/SF-Pro-Display-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}

/* SF Pro Text */

@font-face {
  font-family: 'SF Pro Text Regular';
  src: url('../asset/font/Poppins-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'SF Pro Text Medium';
  src: url('../asset/font/Poppins-Medium.ttf') format('truetype');
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: 'SF Pro Text SemiBold';
  src: url('../asset/font/Poppins-SemiBold.ttf') format('truetype');
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: 'SF Pro Text Bold';
  src: url('../asset/font/Poppins-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
}

/* Work Sans */

@font-face {
  font-family: 'WorkSans Thin';
  src: url('../asset/font/WorkSans-Thin.ttf') format('truetype');
  font-style: normal;
  font-weight: 100;
}
@font-face {
  font-family: 'WorkSans ExtraLight';
  src: url('../asset/font/WorkSans-ExtraLight.ttf') format('truetype');
  font-style: normal;
  font-weight: 200;
}
@font-face {
  font-family: 'WorkSans Light';
  src: url('../asset/font/WorkSans-Light.ttf') format('truetype');
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: 'WorkSans Regular';
  src: url('../asset/font/WorkSans-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'WorkSans Medium';
  src: url('../asset/font/WorkSans-Medium.ttf') format('truetype');
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: 'WorkSans SemiBold';
  src: url('../asset/font/WorkSans-SemiBold.ttf') format('truetype');
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: 'WorkSans Bold';
  src: url('../asset/font/WorkSans-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: 'WorkSans ExtraBold';
  src: url('../asset/font/WorkSans-ExtraBold.ttf') format('truetype');
  font-style: normal;
  font-weight: 800;
}
@font-face {
  font-family: 'WorkSans Black';
  src: url('../asset/font/WorkSans-Black.ttf') format('truetype');
  font-style: normal;
  font-weight: 900;
}
